body{
  min-height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.heart {
    width: 80px;
    height: 70px;
    background-color: red;
    position: relative; 
    transform: rotate(45deg); 
    box-shadow: 0px 0px 500px darkred;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: change 0.4s linear infinite;
    
}

.heart:before {
  position: absolute; 
  content: ""; 
  width: 90px;
  height: 70px;
  background-color: red;
  border-radius: 50px;
  right: 35px;
  box-shadow: -10px -10px 100px red;
  
}

.heart::after {
  position: absolute; 
  content: ""; 
  width: 90px;
  height: 70px;
  background-color: red;
  border-radius: 50px;
  transform: rotate(90deg);
  bottom:45px;
  box-shadow: 10px -30px 100px red; 
}

@keyframes change {
  0% { transform: rotate(45deg)  scale(1.10);}
  50% {transform: rotate(45deg)  scale(1.0);}
  100% {transform: rotate(45deg) scale(0.9);}
  
}





